@{
    ViewData["Title"] = "Home";
}

<style>
    .wrapper {
        display: inline;
        border: 1px solid lightgray;
        padding: 4px;
        box-shadow: inset 1px 1px 1px rgba(0,0,0,.1)
    }

    input {
        border: 0;
    }

    label {
        color: gray;
    }
</style>

<div class="text-center m-3">
    <img src="~/images/Logo.svg" class="p-3" />
    <h2 class="dot" style="color:indigo">Dashboard Overview Terminal</h2>
</div>
