@model List<Universal.DTO.ODTO.DeclarationODTO>
    
@{
    ViewData["Title"] = "Declaration";
}

<div>
	<table id="declarationTable" class="table table-striped display text-center">
		<thead>
			<tr>
				<th>Declaration Name</th>
				<th>Model</th>
				<th>Name & Type of Product</th>
				<th>Distributor</th>
				<th>Country of origin</th>
				<th>Consumer Rights</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

@section Scripts
	{
		<script>
			console.log(@Json.Serialize(Model))
			$(document).ready(function () {
				$('#declarationTable').DataTable({
					data: @Json.Serialize(Model),
					columns: [
						{ data: "declarationName" },
						{ data: "model" },
						{ data: "nameAndTypeOfProduct" },
						{ data: "distributor" },
						{ data: "countryOfOrigin" },
						{ data: "consumerRights" },
					],
					columnDefs: [
						{ targets: '_all', className: 'dt-left' }
					],
				});
			});
		</script>
}
