@model Universal.DTO.IDTO.ChangePasswordIDTO

@{
	ViewData["Title"] = "Login";
	Layout = "../Shared/Layouts/_LayoutLogin.cshtml";
}

<div class="admin-login-background d-flex align-items-center justify-content-center">
	<div class="col-4 bg-light mx-auto p-5 rounded-3">
		<div class="form-group">
			<div class="text-center p-2">
				<img class="logo-login" src="\images\Microsoft_.NET_logo.png" alt="logo" />
			</div>
			<div class="text-center p-2">
				<h3>CHANGE PASSWORD</h3>
			</div>
				<div class="mb-3 text-center">
					<input type="password" name="newPassword" id="newPassword" placeholder="New Password"/>
				</div>
				<div class="mb-3 text-center">
				<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
				</div>
				<div id="errorText" class="mb-3 text-center text-danger text-decoration-underline">
				</div>
			<input type="hidden" name="userKey" id="userKey" value="@ViewBag.UserKey" />
				<div class="mx-auto mb-3 w-50">
					<input type="submit" id="submitBtn" value="Set new Password" class="form-control p-2 bg-primary text-light" />
				</div>
		</div>
	</div>
</div>


@section Scripts{
	<script>
		$(document).ready(function () {
			$("#submitBtn").click(function () {
				if ($("#newPassword").val() != $("#confirmPassword").val()) {
					$('#errorText').text('Passwords do not match.');
				}
				else {
					let changePasswordObject = {
						Password: $("#newPassword").val(),
						ConfirmPassword: $("#confirmPassword").val(),
						Key: $("#userKey").val()
					};

					$.ajax({
						type: 'POST',
						url: 'https://localhost:7213/api/Users/ChangePassword',
						contentType: 'application/json',
						data: JSON.stringify(changePasswordObject),
						success: function (response) {
							alert("Password succesfully set!");
						},
						error: function (xhr, status, error) {
							$('#errorText').text('This link is no longer active.');
						}
					});
				}
			});
		});
	</script>
}

