@model List<Universal.DTO.ODTO.UsersODTO>

@{
	ViewData["Title"] = "All Users";
}

<div>
	<table id="userTable" class="table table-striped display text-center">
		<thead>
			<tr>
				<th>Role</th>
				<th>Email</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Phone</th>
				<th>Address</th>
				<th>City</th>
				<th>Zip</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

@section Scripts
	{
	<script>
		console.log(@Json.Serialize(Model))
		$(document).ready(function () {
			$('#userTable').DataTable({
				data: @Json.Serialize(Model),
				columns: [
					{ data: "role" }, 
					{ data: "email" },
					{ data: "firstName" },
					{ data: "lastName" },
					{ data: "phone" },
					{ data: "address" },
					{ data: "city" },
					{ data: "zip" },
					{ data: "country" },
				],
				columnDefs: [
					{ targets: '_all', className: 'dt-left' }
				],
			});
		});
	</script>
}