@model Universal.DTO.ViewDTO.MultiMediaIDTO

<style>
    .gallery-container {
        width: auto;
    }
</style>
<div class="col-12 p-3">
    <div class="row">
        @foreach (var mediaImage in Model.MediaList)
        {
            <div class="gallery-container text-center col-sm-3 col-md-2 col-xl-8r col-xxl-12r">
                <div class="gallery-item">
                    <div class="image-container">
                        <video width="380" height="200" controls>
                            <source src="@Url.Action("GetImage", "Dashboard", new { path = mediaImage.Src })" alt="@mediaImage.AltTitle" class="video" type="@mediaImage.MimeType">
                        </video>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <span class="video-title">Title: @mediaImage.MetaTitle</span>
                </div>
            </div>
        }
    </div>
</div>