.side-navigation {
    width: 200px;
    position: fixed;
    z-index: 5;
    background-color: indigo;
    margin-top: 50px;
}

.header-navigation {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.tox-notifications-container {
    display: none;
}

#req {
    color: red;
}

.content-offset {
    margin-top: 60px;
    margin-left: 210px;
    width: 100%;
    position: relative;
}

.content-wrapper {
    display: flex;
    width: 99vw;
}

.icon-spacing {
    margin-right: 10px;
    cursor: pointer;
}

.side-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .side-list::-webkit-scrollbar {
        display: none;
    }

.side-anchor {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

    .side-anchor:hover {
        background-color: #f8f9fa;
        color: blueviolet;
    }

.user {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #553c9a;
    border-right: 4px solid #553c9a;
}

.trsh {
    color: black;
}
}

ul ul {
    text-indent: 25%;
}

.dot {
    font-family: 'Lucida Console';
    color: #f0f0f0;
    padding: 5px;
}

.tox-tinymce {
    z-index: 5 !important;
}

.btn-dotnet {
    color: #f0f0f0;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

    .btn-dotnet:hover {
        color: #f0f0f0;
        background-color: indigo;
        border-color: blueviolet;
    }

.loading-container {
    background-color: rebeccapurple;
    position: absolute;
    border-radius: 10px;
    z-index: 15;
    top: 45%;
    left: 45%;
}

.loading-backdrop {
    background-color: #f0f0f0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 50px);
}

.loading-inactive {
    display: none;
}

.loading-active #o {
    animation: spin 2s linear infinite;
    transform-origin: 250px;
}

.loading-active #D {
    animation: spin 1.25s linear infinite;
    transform-origin: 250px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.unset-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red; /* Style as desired */
    color: white; /* Style as desired */
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: none; /* Initially hide the button */
}

.image-container:hover .hover-unset {
    display: block; /* Show the button on hover */
}

.nav-link .active {
    background-color: #007bff; /* Change the background color to indicate active tab */
    color: #fff; /* Change the text color to white for active tab */
    border-color: #007bff; /* Change the border color for active tab */
}
/* Custom CSS to set a maximum height for the modal */
.modal-lg {
    max-width: 90%;
}

/* Ensure modal can be scrolled if the content exceeds its height */
.modal-dialog-scrollable {
    overflow-y: auto;
}