.side-navigation {
    width: 200px;
    position: fixed;
    z-index: 5;
    background-color: indigo;
    margin-top:50px;
}

.header-navigation {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.tox-notifications-container{
    display:none;
}

#req{
 color:red;
}

.content-offset {
    margin-top: 60px;
    margin-left: 210px;
    width: 100%;
}

.content-wrapper {
    display: flex;
    width: 99vw;
}

.icon-spacing {
    margin-right: 10px;
    cursor: pointer;
}

.side-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-list::-webkit-scrollbar{
    display: none;
}

.side-anchor {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.side-anchor:hover {
    background-color: #f8f9fa;
    color: blueviolet;
}
.user {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #553c9a;
    border-right: 4px solid #553c9a;
}

.trsh{
    color:black;
}
}

ul ul {
    text-indent: 25%;
}

.dot {
    font-family: 'Lucida Console';
    color: #f0f0f0;
    padding: 5px;
}