.side-navigation {
    width: 200px;
    position: fixed;
    z-index: 5;
    background-color: indigo;
    margin-top: 50px;
} 
.header-navigation {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.tox-notifications-container {
    display: none;
}

#req {
    color: red;
}

.content-offset {
    margin-top: 60px;
    margin-left: 210px;
    width: 100%;
    position: relative;
}

.content-wrapper {
    display: flex;
    width: 99vw;
}

.icon-spacing {
    margin-right: 10px;
    cursor: pointer;
}

.side-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .side-list::-webkit-scrollbar {
        display: none;
    }

.side-anchor {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

    .side-anchor:hover {
        background-color: #f8f9fa;
        color: blueviolet;
        cursor: pointer;
    }

.user {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #553c9a;
    border-right: 4px solid #553c9a;
}

.trsh {
    color: black;
}
}

ul ul {
    text-indent: 25%;
}

.dot {
    font-family: 'Lucida Console';
    color: #f0f0f0;
    padding: 5px;
}

.tox-tinymce {
    z-index: 5 !important;
}

.btn-dotnet {
    color: #f0f0f0;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

    .btn-dotnet:hover {
        color: #f0f0f0;
        background-color: indigo;
        border-color: blueviolet;
    }

.loading-container {
    background-color: rebeccapurple;
    position: absolute;
    border-radius: 10px;
    z-index: 15;
    top: 45%;
    left: 45%;
}

.loading-backdrop {
    background-color: #f0f0f0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 50px);
}

.loading-inactive {
    display: none;
}

.loading-active #o {
    animation: spin 2s linear infinite;
    transform-origin: 250px;
}

.loading-active #D {
    animation: spin 1.25s linear infinite;
    transform-origin: 250px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.unset-button {
    display: none;
    border-radius: 50%;
    width: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 1px;
    height: 30px;
    border: 2px solid;
    color: white;
    position: absolute;
    background-color: gray;
    top: 15px;
    right: 5px;
    cursor: pointer;
}
    .unset-button:hover {
        color: inherit;
        background-color: dimgray;
    }

.image-container:hover .hover-unset {
    display: block;
}

.nav-link .active {
    background-color: #007bff;
    color: #fff; 
    border-color: #007bff;
}

.modal-lg {
    max-width: 90%;
}

.modal-dialog-scrollable {
    overflow-y: auto;
}

ul, #main-list {
    list-style-type: none;
}

#main-list {
    margin: 0;
    padding: 0;
}

.multi-cat {
    cursor: pointer;
    user-select: none;
}

    .multi-cat::before {
        content: "\27A4";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

.multi-cat-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active-cat {
    display: block;
}

.btn-format {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    line-height: 0;
}

.category-name {
    margin-right: 20px;
}

.category-select {
    cursor: pointer;
}

    .category-select:hover {
        color: #f0f0f0;
        background-color: rebeccapurple;
    }

.category-selected {
    color: #f0f0f0;
    background-color: rebeccapurple;
}
.modclass {
    margin-bottom: 20px;
}
#v-pills-lang-tab{
    color:rebeccapurple;
}

.language-active.active {
    color: white !important;
    background-color: rebeccapurple !important;
}

.dataTables_wrapper 
{
    width:100%;
    padding-left:15px;
}

.dz-button {
    background-color: rebeccapurple !important;
    padding: 0.5em !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: bold !important;
}