* {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.form-login {
    background-color: white;
    padding: 2em;
    border-radius: 15px;
    width: 45%;
    border: 2px solid rgba(230,230,230);

    -webkit-box-shadow: 0px 0px 16px 0px rgba(204,204,204,0.30);
    -moz-box-shadow: 0px 0px 16px 0px rgba(204,204,204,0.30);
    box-shadow: 0px 0px 16px 0px rgba(204,204,204,0.30);
}

.admin-login-background {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/BGIMG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Email, #Password {
    border: 2px solid rgba(230,230,230);
    border-radius: 10px;
}

.btn-dotnet {
    color: #f0f0f0;
    background-color: #0A80D8;
    border-color: #0A80D8;
}

    .btn-dotnet:hover {
        color: #f0f0f0;
        background-color: #0866ac;
        border-color: blueviolet;
    }


