* {
    font-family: 'Lucida Console';
}

.admin-login-background {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/dot_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-login {
    width: 25%;
}

.btn-dotnet {
    color: #f0f0f0;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

    .btn-dotnet:hover {
        color: #f0f0f0;
        background-color: indigo;
        border-color: blueviolet;
    }
